{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{ $menuID := .menuID }}
{{ $page := .page }}
{{ with .page.Site.Menus }}
  {{ with (index . $menuID) }}
  <nav>
    <ul>
    {{ range . }}
      {{ $active := or ($page.IsMenuCurrent $menuID .) ($page.HasMenuCurrent $menuID .) }}
      {{ $active = or $active (eq .Name $page.Title) }}
      {{ $active = or $active (and (eq .Name "Posts") (eq $page.Section "posts")) }}
      <li><a {{ if $active }}aria-current="page"{{ end }} href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>
  </nav>
  {{ end }}
{{ end }}
